# Set the default behavior
* text=auto

# Explicitly declare these files to CR
*.rbvcp text eol=cr
*.rbbas text eol=cr
*.rbmnu text eol=cr
*.rbfrm text eol=cr
*.rbs text eol=cr

# Denote all files that are truly binary and should not be modified
*.rbres binary
*.xojo_uistate binary
*.png binary
*.jpg binary
*.jpeg binary
